@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';

@theme {
	--font-Poppins: 'Poppins', sans-serif;
	--font-Chewy: 'Chewy', system-ui;

	/* Brand color */
	--color-primary: #050b10;
	--color-secondary: rgba(255, 255, 255, 0.1);
	--border-color-primary: rgba(255, 255, 255, 0.3);
	--color-accent: #4f42e2;
	--color-accent-hover: #5447ec;
	--text-color-accent-gray: rgba(255, 255, 255, 0.7);

	/* Animation / Ease */
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);
	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);

	/* breakpoints */
	--breakpoint-xs: 32.5rem;
}

@layer base {
	body {
		@apply bg-primary font-Poppins text-white;
	}
}
